body {
  margin: 0;
  color: #3C2A21;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f1e9;
  
}
#root{
  overflow-x: hidden;
}

/* Base Page */

.logoimg{
  height: 60px;
  padding: 20px;
  border-radius: 50%;
}

.logoheading{
  color: #FF8400;
  margin-top:35px;
  position: absolute;
  display: inline;
}

/* Login Page */

.loginContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 80vh;
  padding: 0% 10%;
}

.landImg{
  padding: 0% 5% 0% 3%;
  width: 42%;
}

.login-info{
  width: 32%;
  min-width: 200px;
  height: 55vh;
  background-color: #FF8400;
  margin: auto 3% auto auto ;
  border-radius: 30px;
  padding: 3%;
  color: #f6f1e9;
  text-align: center;
}

.login-info h1{
  font-size: 45px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 40px;
}

.login-info form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .pwdContainer, .emailContainer {
  width: 80%;
  min-width: 200px;
  border-radius: 10px;
  margin: 0 auto 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.pwdContainer {
  justify-content: space-between;
}

.login-info input{
  border: none;
  height: 100%;
  font-size: 15px;
  padding: 15px 2%;
  border-radius: 10px;
  width: 85%;
}

.login-info input:focus {
  border: none;
  outline: none;
}

.revealpwd {
  fill: #aaaaaa;
  font-size: 1.3rem;
  margin-top: 5px;
  margin-right: 10px;
}

.secondary-login{
  width: 80%;
  min-width: 200px;
  height: min-content;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn{
  margin: 0 auto;
  background-color: #3C2A21;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #f6f1e9;
  font-size: 15px;
}

form .not-register{
  text-align: center;
  margin-top: 30px;
}

.links-color{
  color: black;
  text-decoration: none;
}
@media (max-width: 1100px){
  .btn{
    padding: 12px 18px;
  }

  .landImg{
    display: none;
  }

  .login-info{
    width: max(50%,300px);
    margin: auto;
    height: 53vh;
  }
  .login-info form{
    margin-top: 20px;
  }

  .btn{
    padding: 10px 15px;
  }

  .login-info form{
    margin-top: 10px;
    font-size: 15px;
  }
  .login-info h1{
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px)
{
  .login-info h1{
    font-size: 30px;
  }
  .login-info input{
    padding: 12px 10px;
  }
  .login-info{
    height: 47vh;
  }
}

/* Primary Sign up Page */

.registration{
  height: 80vh;
  display: flex;
}

.register-container{  
  margin: auto;
  width: 50%;
  height: 450px;
  background-color:#FF8400;
  border-radius: 30px;
  color: white;
  padding-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.register-wrapper .register-heading, .register-wrapper p, .register-wrapper .registersection{
  margin: 0;
  margin-bottom: 5px;
}

.register-wrapper .registersection{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.registersection .phoneContainer, .registersection .emailContainer, .registersection .pwdContainer {
  width: 50%;
  min-width: 250px;
  border-radius: 10px;
  margin: 0 0 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registersection input{
  border: none;
  height: 100%;
  font-size: 15px;
  padding: 15px 2%;
  border-radius: 10px;
  width: 85%;
}

.registersection input:focus {
  border: none;
  outline: none;
}

.registersection p{
  font-size: 12px;
  color: #f6f1e9;
}

.btnContainer .btn-next {
  margin-left: 30px;
}

.btn:hover{
  transition: all 0.2s;
  background-color: #f6f1e9;
  color: #3C2A21;
  box-shadow: 2px 4px #3C2A21;
} 

@media (max-width:760px) {

  .register-container {
    padding: 0px;
    width: 60%;
  }

  .register-heading{
    font-size: 25px;
   }

   .register-wrapper {
    margin: auto;
    padding: 40px;
   }

   .register-wrapper p{
    font-size: 14px;
  }

  .registersection .phoneContainer, .registersection .emailContainer, .registersection .pwdContainer {
    width: 100%;
    min-width: 210px;
  }

  .registersection input {
    padding: 13px 2%;
  }
}
@media (max-width:555px) {
    .register-container { 
      width: 70%;
      font-size: 14px;
    }

    .btnContainer {
      margin-top: 5px;
    }
}

/* Navbar */

.navbar{
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ff8400;
  color: #f6f1e9;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLinks{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5%;
}

.navbarLinks a{
  all: unset;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 14px;
  cursor: pointer;
}

.logo{
  margin-top: 5px;
  width: 40px;
  padding-right: 30px;
}

.dogPhoto{
  padding-right: 20px;
  width: 40px;
}

.navbarDogInfo{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin-right: 5%;
  text-decoration: none;
  color: #f6f1e9;  
}

.navbarLinksProfile, .navbarLinksContact{
  display: none !important;
}

.Hamburger{
  display: none;
}

@media(max-width:900px) {
  .logo{
    position: absolute;
    top: 0px;
    left: 12%;
  }
  .navbarLinksMenu{
    display: flex;
    flex-direction: column;
    background-color: #ff8400;
    position: absolute;
    top: 50px;
    left: -300px;
    height: 70vh;
    width: 250px;
    padding-left: 5%;
    padding-bottom: 30vh;
    justify-content: space-evenly;
    transition: 1s all ease-in-out;
  }
  .navbarLinksProfile, .navbarLinksContact{
    display: block !important;
  }

  .navbarLinksMenu a{
    font-size: 28px;
  }

  .navbarLinksMenuShow{
    left: 0px;
  }

  .navbarDogInfo h2{
    font-weight: 500;
  }
  .dogPhoto{
    padding-right: 10px;
  }

  .Hamburger{
    display: block;
    z-index: 2;
    margin-left: 5%;
    cursor: pointer;
  }

  .bar{
    display: block;
    height: 2.5px;
    width: 25px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f6f1e9;
    transition: 0.6s;
  }
  .barOne{
    rotate: -45deg;
    position: relative;
    top: 7px;
    transition: 0.6s;
  }
  .barTwo{
    display: none;
  }
  .barThree{
    position: relative;
    rotate: 45deg;
    transition: 0.6s;
  }
}

@media(max-width:500px){
  .bar{
    width: 20px;
  }
  .logo{
    width: 30px;
    left: 15%;
    top: 5px;
  }
  .navbarDogInfo h2{
    display: none;
  }
  .dogPhoto{
    width: 40px;
  }
}

/* Profile */

.profile{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5% 5%;
  max-width: 1050px;
  margin: auto;
}

.profilePhoto{
  clip-path: circle(40%);
  width: max(350px,40%);
  min-height: 530px;
  margin-right: 20px;
}

.profileInfoPrimary{
  position: relative;
  width: max(40%,350px);
  padding: 5%;
  margin: 5% 0%;
  background-color: #ff8400;
  border-radius: 50px;
  color: #f6f1e9;
  
}
.profileInfoPrimary h1{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: 500;
}
.profileInfoPrimary a{
  all: unset;
}
.profileInfoEdit{
  position: absolute;
  width: fit-content;
  right: 10%;
  bottom: 2.5%;
}
@media(max-width:850px){
  .profilePhoto{
    width: 50%;
    min-height: auto;
    margin-right: 0px;
  }
  .profileInfoPrimary{
    margin: 0%;
  }
}
@media(max-width:500px){
  .profileInfoPrimary h1,.profileInfoPrimary h2{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
  .profileInfoPrimary{
    padding: 5% 3% 10% 7%;
  }
  .profilePhoto{
    width: 70%; 
    margin: 5% 5%; 
  }
}

/* secreg starts here */

.sec-reg-container{
  border-radius: 30px;
  background-color: #FF8400;
  width:80%;
  margin:5vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.top-inputs-section{
  display: flex;
}

.sec-reg-form{
  width: 80%;
}

.dog-info-tabs{
  width:50%;
  height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-tabs{
  margin: 20px 0px;
  width: 80%;
  text-align: left;
  display: block;
  padding: 10px 2%;
  border-radius: 10px;
  border: none;
}

.dog-info-tabs p{
  font-size: 12px;
  color: purple;
}

.prof-pic p{
  color:purple;
  font-size: 12px;
}
.gender{
  display: flex;
  margin:20px 0px;
  color:#ffffff;
}

.playdate{
  display: flex;
  margin: 20px 0px;
  color:#ffffff;
}


.prof-pic{
  width:50%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.prof-pic label{
  color:#ffffff;
}

.circular-container {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  position: relative;
  margin: auto;
  margin-top:15px ;
  background-color: #ffffff;
}

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
  display: block;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #777;
}

/* Hide the file input */
input[type="file"] {
  display: none;
}


.button-back{
  margin-left: 20%;
}
.button-next{
  margin-left: 35%;
}




@media (max-width:650px) {
  .sec-reg-container{
    margin:0 auto;
    width:80% ;
    max-width: 350px;
    padding: 0 15px 10px ;
  }

  .sec-reg-form{
    width:fit-content;
  }

  .prof-pic{
    font-size: 15px;
    display: flex;
    width:100%;
    align-items:start;
  }

  .prof-pic label{
    text-align: left;
  }

  .top-inputs-section{
    flex-direction: column;
    text-align: center;
  }

  .dog-info-tabs{
    height: 300px;
    width: 100%;
  }

  .gender{
    font-size: 15px;
    margin:15px 0 0 0;
  }

  .playdate{
    font-size: 15px;
    margin:20px 0 0 0;

  }

  .input-tabs{
    margin: 15px 0;
    width:250px;
    padding-right: 0;
    font-size:11px;
  }

  .circular-container{
    width: 100px;
    height: 100px;
    margin: 10px auto 20px;
  }

  .bottom-section{
    padding-top: 10px;
    text-align: center;
  }


  .button-back{
    margin-left: 0;
  }
  .button-next{
    margin-left: 15%;
  }

}

@media (min-width:910px){
  .sec-reg-container{
    width:58%;
    margin:5vh 21vw;
  }
}


/* Footer */

.footer-container{
  width: 100%;
  color: #f6f1e9;
  background-color: #3C2A21;
  margin-top: 70px;
}
.footer{
  display: flex;
  padding: 0px 10% 10px 10%;
  font-size: 12px;
  box-sizing: border-box;
}
.footer-heading{
  font-size: 20px;
}
.about-wiggles{
  width: 50%;
  text-align: left;
  line-height: 13px;
}
.support-wiggles{
  width: 40%;
  text-align: left;
  padding-left: 130px;
}

.support-links{
  width: 100%;
  display: block;
  padding: 5px;
  visibility: 10px;
  text-decoration: none;
  color:#f6f1e9; 
  font-weight: 400;
}

.copyright-bar{
  height: 10px;
  background-color:#3C2A21;
  padding: 40px 0px 10px 0px;
  text-align: center;
  font-size: 11px;
}

.connect-us{
  padding-top: 20px;
}

.connect-links{
  padding-right:10px;
}
.footer-img{
  height: 250px;
  background-size: cover;
}


@media (max-width: 700px){
  .footer{
    display: block;
    font-size: 12px;
  }
  .footer-heading{
    font-size: 17px;
  }
  .about-wiggles{
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .footer-heading{
    text-align: center;
  }
  .support-wiggles{
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
  }
  .connect-us{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer{
    padding: 20px 10% 10px 10%;
  }
  
  .footer-img{
    height: 96px;

  }
  .copyright-bar{
   padding: 5px 0px 10px 0px;
  }
}

/* ContactPage */

.contact-window {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10%;
  height: 100%;
}


.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 1200px;
  box-sizing: border-box;
}

.contact-wrapper-right h1 {
  color: #3C2A21;
  font-size: 50px;
  margin-bottom: 50px;
  white-space: nowrap;
}

.contact-wrapper-left {
  width: 35%;
  min-width: 300px;
  margin-left: 150px;
  margin-top: 50px;
}

.contact-wrapper-right {
  background-color: #f6f1e9;
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  box-sizing: border-box;
}

.contact-wrapper-right input, textarea {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 20px;
  border-bottom: 2px solid #ff8400;
  margin-bottom: 28px;
  font-size: 18px;
  width: 100%;
  transition: 0.2s ease-in-out;
  color: #3C2A21;
}

.contact-wrapper-right input {
  height: 50px;
}

.contact-wrapper-right textarea {
  padding-top: 16px;
  height: 56px;
  resize: none;
}

.contact-wrapper-right textarea::-webkit-scrollbar {
  width: 0px;
}

#submitBtn{
  margin-top: 20px;
  background-color: #3C2A21;
  color: #f6f1e9;
  font-size: 18px;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  border: none;
}

@media screen and (max-width: 800px), (max-height: 550px) {

  .contact-window {
    padding: 0 4%;
  }

  .contact-wrapper-right h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .contact-container {
      width: 100%;
      margin-top: 0;
    }

    .contact-wrapper-left {
      display: none;
    }

    .contact-wrapper-right {
        width: 100%;
        padding: 40px;
        align-items: center;
    }

    .contact-wrapper-right input, textarea {
      font-size: 16px;
      padding-left: 12px;
    }

    .contact-wrapper-right input {
      height: 40px;
    }

    #submitBtn{
      margin-top: 10px;
      font-size: 16px;
      padding: 14px;
      border-radius: 12px;
    }
}

/* explore */

#profile-card-container {
  display: grid;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
  padding: 4vw 3vw;
}

.profile-card {
  border-radius: 20px;
  padding: 25px;
  box-shadow: 5px 5px 6px #aaaaaa;
  transition: all .12s;
  display: flex;
  align-items: center;
  
  background-image: linear-gradient(150deg, #fff, #f6f1e9, #f6f1e9); 
}

.profile-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 18px #aaaaaa;
  background-image: linear-gradient(125deg, #f6f1e9, #ff840015, #ff840040, #ff840060, #ff840090);
}

.profile-card img {
  width: 80px;
  margin-right: 18px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.profile-card #profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-card #profile-info .primary-info {
  color: #ff8400;
  font-size: 18px;
  font-weight: 600;
}

.profile-card #profile-info .secondary-info {
  font-size: 14px;
  color: #3C2A21;
}

.profile-card #profile-info .secondary-info #breed {
  font-weight: 500;
}

.profile-card #playdate {
  border: none;
  background-color: #f6f1e9;
  color: #FF8400;
  font-size: 16px;
  width: fit-content;
  align-self: flex-end;
  letter-spacing: 1px;
  margin-top: 15px;
  border: 2px solid #ff8400;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.12s;
}

.profile-card #playdate:hover {
  background-color: #ff8400;
  color: #f6f1e9;
  border: 2px solid #f6f1e9;
}

@media(max-width:1190px) {
  #profile-card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* Notification */

.notificationIcon{
  width: 1.8rem; 
  height: 1.8rem; 
  position: absolute;
  right: calc(180px + 6%);
  cursor: pointer;
}
.notificationIcon.inactive{
  color: #fdfeff;
}
.notificationIcon.active{
  color: #FF8400;
  stroke: #f6f1e9;
  stroke-width: 20;
}
.notificationIcon:hover{
  color: #fdfeff;
  transition: 0.2s;
}
.notificationContainer{
  position: absolute;
  top: 3.5rem;
  right: calc(55px + 6%);
  width: 500px;
  z-index: 15;
  transition: all 0.2s ease ;
}
.notificationContainer.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.notificationContainer.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}
.dropDownContainer{
  width: 80%;
  background-color: white;
  max-height: 350px;
  border-radius: 10px 10px 0px 0px ;
  color: #3C2A21;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding:5px 10px;
  overflow-y: auto;
}
.dropDownContainer::before{
  position: absolute;
  background-color: white;
  width: 22px;
  height: 22px;
  top: -10.2px;
  right: 128px;
  content: '';
  transform: rotate(45deg);
  display: flex;
}

.dropDownContainer h2{
  color: #FF8400;
  border-bottom: 1px solid #F8F0E5;
  margin-bottom: 0px;
}
.allNotifications{
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 0 10px;
  height: 7%;
  border-top: 1px solid #F8F0E5; 
  text-decoration: none;
  color: #3C2A21;
  text-align: right;
  padding: 10px;
  border-radius: 0px 0px 10px 10px ;
}
.allNotificationsIcon{
  visibility: hidden;
}
.allNotifications .links-color{
  color: #3C2A21;
  font-size: 13px;
}

@media(max-width:900px) {
  .notificationIcon{
    right: calc(7% + 162px);
  }
  .notificationContainer{
    right: calc(7% + 37px);
  }
}

@media(max-width:550px){
  .notificationIcon{
    width: 1.6rem;
  }
  .notificationContainer{
    width: 100%;
    right: 0%;
  }
  .dropDownContainer::before{
    right: calc(7% + 164px);
  }
  .dropDownContainer, .allNotifications{
    width: 90%;
  }
  .allNotifications .links-color{
    font-size: small;
  }
}

@media(max-width:500px)
{
  .notificationIcon, .dropDownContainer::before{
    right: calc(6% + 53px);
  }
  .dropDownContainer h2{
    font-size: large;
    border-bottom: 1px solid #F8F0E5;
  }
  .allNotificationsIcon{
    visibility: visible;
  }
  .allNotifications .links-color{
    visibility: hidden;
  }
}

/* Notification Card */

.cardContainer{
  border-top: 1px solid #F8F0E5;
  border-radius: 5px;
  margin-top: 2px;
  padding:  5px 15px;
  display: flex;
  align-items: center;
  z-index: 20;
  cursor: pointer;
}
.dropDownCardContainer{
  background-image: linear-gradient(150deg, #fff, #fff, #f6f1e9);
}
.cardContainer:hover{
  background-image: linear-gradient(125deg, #f6f1e9, #ff840015, #ff840040, #ff840060, #ff840090);
}
.cardImage{
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.cardContainer img:hover{
  transform: scale(1.05);
}
.dogInfoContainer{
  color:#3C2A21;
  width:402px;
  display: flex;
}
.dogInformation{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.dogInfoContainer h2{
  border-bottom: none;
  
}
.cardDogName{
  font-size: 18px;
  margin-top: 5px;
}

.cardText{
  margin-top: 5px;
  font-size: 12px;
} 
.addPlaydate{
  margin: auto 0 auto auto;
  display: flex;
}
.addPlaydateIcon{
  width: 1.4rem;
  height: 1.4rem;
  padding: 5px;
  border: 1.7px solid #FF8400;
  border-radius: 10px;
  margin: 4px;
}
.addPlaydateIcon:hover{
  width: 1.6rem;
  height: 1.6rem;
  padding: 5px;
  color:white;
  background-color: #FF8400;
  border-radius: 10px;
}
.addPlaydateIcon.inactive{
  visibility: hidden;
}
.disabled{
  background-color: #FF8400;
  color: white;
  padding: 6px;
}

@media(max-width:500px)
{
  .cardContainer img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  .dogInfoContainer h2{
    border-bottom: none;
    font-size: 15px;
  }
  .dogInfoContainer p{
    margin-top: 3px;
    font-size: 12px;
  }
}

/* AllNotification */
.allNotificationWrapper{
  margin: 12px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 32%;
  min-height: 700px;
  min-width: 430px;
  padding: 10px;
  /* background-color: white; */
}
.allNotificationImg{
  width: 65px;
  height: 65px;
  margin-right: 15px;
}
.allNotificationName{
  font-size: 20px;
  margin: 5px 0px;
}
.allNotificationText{
  margin-top: 10px;
  font-size: 15px;
}
.allNotificationCardContainer{
  background-image: linear-gradient(150deg, #fff, #fff, #f6f1e9);
  border-bottom: solid 1px #ff840090;
}
.allNotificationCardContainer:hover{
  background-image: linear-gradient(150deg, #ff840090, #ff840015, #ff840015, #ff840015, #ff840090); 
  border: 0px;
}
@media(max-width:600px)
{
  .allNotificationName{
    font-size: 17px;
  }
  .allNotificationImg{
    width: 55px;
    height:55px;
  }
  .allNotificationText{
    margin-top: 5px;
    font-size: 15px;
  }
  .allNotificationWrapper h1{
    font-size: 28px;
  }
}
@media(max-width:450px)
{
  .allNotificationWrapper{
    min-width: 300px;
    width: 90%;
  }
  .allNotificationWrapper h1{
    font-size: 23px;
  }
}