  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

#root{
  overflow-x: hidden;
}

body {
  margin: 0;
  color: #3C2A21;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f1e9; 
}

/* Profile Photo: Just change the scale and position according to need*/
.profilePicture{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; 
  scale: 1;
}