#root{
  overflow-x: hidden;
}

body {
  margin: 0;
  color: #3C2A21;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f1e9; 
}

/* Profile Photo: Just change the scale and position according to need*/
.profilePicture{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; 
  scale: 1;
}