/* explore */

#profile-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    padding: 4vw 3vw;
    margin-top: 50px;
}
  
.profile-card {
    border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 5px 6px #aaaaaa;
    transition: all .12s;
    display: flex;
    align-items: center;
    background-image: linear-gradient(150deg, #fff, #f6f1e9, #f6f1e9); 
}
  
.profile-card:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 18px #aaaaaa;
    background-image: linear-gradient(125deg, #f6f1e9, #ff840015, #ff840040, #ff840060, #ff840090);
}
  
.profile-card img {
    border: 5px solid #fff;
    scale: 0.8;
}
  
.profile-card #profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.profile-card #profile-info .primary-info {
    color: #ff8400;
    font-size: 18px;
    font-weight: 600;
}
  
.profile-card #profile-info .secondary-info {
    font-size: 14px;
    color: #3C2A21;
}
  
.profile-card #profile-info .secondary-info #breed {
    font-weight: 500;
}
  
.profile-card #playdate {
    border: none;
    background-color: #f6f1e9;
    color: #FF8400;
    font-size: 16px;
    width: fit-content;
    align-self: flex-end;
    letter-spacing: 1px;
    margin-top: 15px;
    border: 2px solid #ff8400;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.12s;
}
  
.profile-card #playdate:hover {
    background-color: #ff8400;
    color: #f6f1e9;
    border: 2px solid #f6f1e9;
}
  
@media(max-width:1190px) {
    #profile-card-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}