/* Base Page */
.logoimg{
  height: 60px;
  padding: 20px;
  border-radius: 50%;
}
.logoheading{
  color: #FF8400;
  margin-top:35px;
  position: absolute;
  display: inline;
}

/* To remove color on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Login Page */

.loginContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 80vh;
  padding: 0 10%;
}

.landingImg{
  padding: 0% 5% 0% 3%;
  width: 42%;
}

.loginInfo{
  width: 32%;
  min-width: 200px;
  height: 350px;
  background-color: #FF8400;
  margin: auto 3% auto auto ;
  border-radius: 30px;
  padding: 3%;
  color: #f6f1e9;
  text-align: center;
}

.loginInfo h1{
  font-size: 45px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 40px;
}

.loginInfo form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pwdContainer, .emailContainer{
  width: 80%;
  min-width: 200px;
  border-radius: 10px;
  margin: 0 auto 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.pwdContainer {
  justify-content: space-between;
}

.loginInfo input{
  border: none;
  height: 100%;
  font-size: 15px;
  padding: 15px 2%;
  border-radius: 10px;
  width: 85%;
}

.loginInfo input:focus {
  border: none;
  outline: none;
}

.revealpwd {
  fill: #aaaaaa;
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 5px;
  margin-right: 10px;
}

.secondary-login{
  width: 80%;
  min-width: 200px;
  height: min-content;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.secondary-login span{
  cursor: pointer;
}

.btn{
  all: unset;
  cursor: pointer;
  margin: 0 auto;
  background-color: #3C2A21;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #f6f1e9;
  font-size: 15px;
}

form .not-register{
  text-align: center;
  margin-top: 30px;
}

.links-color{
  color: black;
  text-decoration: none;
}
@media (max-width: 1100px){

  .landingImg{
    display: none;
  }

  .loginInfo{
    width: max(50%,300px);
    margin: auto;
    height: 350px;
  }
  .loginInfo form{
    margin-top: 20px;
  }

  .btn{
    padding: 10px 15px;
  }

  .loginInfo form{
    margin-top: 10px;
    font-size: 15px;
  }
  .loginInfo h1{
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px)
{
  .loginInfo h1{
    font-size: 30px;
  }
  .loginInfo input{
    padding: 12px 10px;
  }
  .loginInfo{
    height: 350px;
  }
}

/* Primary Sign up Page */

.registration{
  height: 600px;
  display: flex;
}

.register-container{  
  margin: auto;
  width: 50%;
  /* height: 400px; */
  background-color:#FF8400;
  border-radius: 30px;
  color: white;
  padding: 40px 0 40px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.register-wrapper .register-heading, .register-wrapper p, .register-wrapper .registersection{
  margin: 0;
  margin-bottom: 5px;
}

.register-wrapper .registersection{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.registersection .phoneContainer, .registersection .emailContainer, .registersection .pwdContainer {
  width: 50%;
  min-width: 250px;
  border-radius: 10px;
  margin: 0 0 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registersection input{
  border: none;
  height: 100%;
  font-size: 15px;
  padding: 15px 2%;
  border-radius: 10px;
  width: 85%;
}

.registersection input:focus {
  border: none;
  outline: none;
}

.registersection p{
  font-size: 12px;
  color: #f6f1e9;
}

.btnContainer{
  margin-top: 15px;
}
.btn-next {
  margin-left: 30px;
}

.btn:hover{
  transition: all 0.2s;
  background-color: #f6f1e9;
  color: #3C2A21;
  box-shadow: 2px 4px #3C2A21;
} 

@media (max-width:760px) {
  .register-container {
    padding: 0px;
    width: 60%;
  }

  .register-heading{
    font-size: 25px;
   }

   .register-wrapper {
    margin: auto;
    padding: 40px;
   }

   .register-wrapper p{
    font-size: 14px;
  }

  .registersection .phoneContainer, .registersection .emailContainer, .registersection .pwdContainer {
    width: 100%;
    min-width: 210px;
  }

  .registersection input {
    padding: 13px 2%;
  }
}
@media (max-width:555px) {
  .register-container { 
    width: 70%;
    font-size: 14px;
  }

  .btnContainer {
    margin-top: 5px;
  }
}

/* secreg starts here */

.secondaryRegisterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF8400;
  width: min(80%,850px);
  min-height: 500px;
  margin: 3% auto 10%;
  border-radius: 30px;
}

.secondaryRegisterationForm{
  width: 80%;
}

.secondaryRegisterationInputs{
  display: flex;
  padding-bottom: 10px;
}

.dogInfoLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50%;
  min-width: 250px;
  height: 400px;
  margin-right: 20px;
}

.inputTabs{
  width: 80%;
  margin: 20px 0px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.inputRadio{
  display: flex;
  margin:20px 0px;
  color:#ffffff;
  align-items: center;
}

.dogInfoRight{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50%;
  height: 400px;
  margin: auto 0;
  color: #fff;
}

/* Hide the file input */
#inputImage{
  display: none;
}

.circular-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 5px auto 60px;
  background-color: #ffffff;
}

.profileIcon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  opacity: 0.7;
  color: #3C2A21;
}

.textSection{
  position: relative;
  height: min-content;
}
.dogInfoRight textarea {
  height: 52px;
  max-height: 100px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  color: #3C2A21;
  padding: 10px;
  resize: none;
  margin-bottom: 0px;
}

.dogInfoRight textarea::-webkit-scrollbar {
  display: none;
}

.textareaCount{
  position: absolute;
  font-size: 12px;
  right: -5px;
  bottom: -12px;
}

@media (max-width:750px) {
  .secondaryRegisterContainer{
    width: 60%;
    min-width: 300px;
    padding: 30px 0;
  }

  .secondaryRegisterationInputs{
    display: block;
    padding-bottom: 30px;
  }

  .dogInfoLeft{
    height: 300px;
    width: 100%;
  }

  .inputRadio{
    font-size: 15px;
    margin:15px 8%;
  }

  .inputTabs{
    margin: 15px auto;
  }

  .dogInfoRight{
    display: block;
    width:80%;
    height: fit-content;
    margin: 15px 8%;
  }

  .circular-container{
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
  }

  .circular-container .profilePicture{    
    scale: 0.67;
    transform: translate(-25%, -25%);
  }

  .textareaCount{
    right: 10px;
  }
}