.msgWindow {
    width: 100vw;
    min-height: 700px;
    display: flex;
}

.msgCard {
    width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header h3{
    margin: 0;
    font-size: 18px;
    color: #ff8400;
    font-weight: 600;
    font-family: 'Shantell Sans', cursive;
}

.header .status {
    border: 2px solid red;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 14px;
    color: red;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0.25);
}

.profileImg {
    border: 2px solid #3C2A21;
    width: fit-content;
    border-radius: 50%;
    margin: 0 auto 10px;
    width: 120px;
    height: 120px;
}

.profileImg .userImage {
    scale: 0.72;
    transform: translate(-14%, -14%);
}

.petName {
    font-size: 24px;
    font-weight: 800;
    color: #3C2A21;
    text-align: center;
}

.petInfoPrimary {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ff8400;

}

.msgByOwner {
    color: red;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 30px 0;
    text-align: center;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 10px;
    border-radius: 15px;
}

.petInfoSecondary {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 30px;
    padding: 10px 0;
    text-align: center;
}

.bio {
    display: none;
}

.otherInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    color: #ff8400;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 30px;
    font-size: 12px;
    font-weight: 700;

}

.contactPrimary, .contactSecondary {
    margin: 4px 0;
    color: #3c2a21;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.contactSecondary {
    margin-bottom: 30px;
}

.callIcon {
    position: relative;
    top: 3px;
}