.msgCard {
    width: 320px;
    max-width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.65);
    transition: all 0.35s ease-in-out;
}

.msgCard:hover {
    transform: scale(1.015);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}
.header h3{
    margin: 0;
    font-size: 18px;
    color: #ff8400;
    font-weight: 600;
    font-family: 'Shantell Sans', cursive;
}

.header .connect {
    margin: 0;
    padding: 7px 12px;
    font-size: 12px;
}

.header .status {
    border: 2px solid red;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 14px;
    color: red;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0.25);
}

.scanCardProfileImgContainer {
    /* border: 2px solid #3C2A21; */
    /* width: fit-content; */
    /* border-radius: 50%; */
    /* margin: 0 auto 10px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #fff;
    width: 120px;
    height: 120px;
    animation: cardSlider 1.5s 1;
    display: flex;
    justify-content: center;
    align-items: center; */
}



.scanCardProfileImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #fff;
    margin: 0 auto 10px;
    animation: cardSlider 1.5s 1;
    border: 2px solid #3C2A21;
  }
  .scanCardProfilePicture {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  .scanCardProfileDogIcon {
    scale: 5;
    color: #3C2A21;
    opacity: 0.85;
  }

@keyframes cardSlider {
    0% {
        filter: blur(8px);

    }
    70% {
        filter: blur(8px);
    }
    100% {
        filter: none;

    } 
}


.profileImg .userImage {
    scale: 0.72;
    transform: translate(-14%, -14%);
}

.petName {
    font-size: 24px;
    font-weight: 800;
    color: #3C2A21;
    text-align: center;
    animation: cardSlider 1.5s 1;
}

.petInfoPrimary {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ff8400;
    animation: cardSlider 1.5s 1;
}

.msgByOwner {
    color: red;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 30px 0;
    text-align: center;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 10px;
    border-radius: 15px;
}

.petInfoSecondary {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 30px;
    padding: 10px 0;
    text-align: center;
    animation: cardSlider 1.5s 1;
}

.bio {
    display: none;
}

.otherInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    color: #ff8400;
    gap: 8px;
}

.dogBreed {
    overflow-wrap: break-word;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 30px 30px;
    font-size: 12px;
    font-weight: 700;
    animation: cardSlider 1.5s 1;
}

.contactPrimary, .contactSecondary {
    margin: 4px 0;
    letter-spacing: 1.2px;
}

.callIcon {
    position: relative;
    top: 3px;
}

.profileCardWindow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 420px) {
    .msgCard {
        width: 280px;
    }
}