/* Profile */

.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 7%;
    margin-top: 50px;
    min-height: 90vh;
}
  
.profilePhoto{
    scale: 2;
}
  
.profileInfoPrimary{
    position: relative;
    width: max(40%,350px);
    padding: 20px 30px 50px;
    background-color: #ff8400;
    border-radius: 50px;
    color: #f6f1e9;
    min-height: fit-content;
}
.profileInfoPrimary h1{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
.profileInfoPrimary a{
    all: unset;
}
.profileInfoEdit{
    display: flex;
    align-items: center;
    position: absolute;
    width: fit-content;
    right: 7.5%;
    bottom: 0px;
}

@media(max-width:900px){
    .profile{
        margin: 75px 0;
        flex-direction: column;
    }
    .profilePhoto{
        margin: 100px 0;
    }
    .profileInfoPrimary{
        border-radius: 40px;
    }
}

@media(max-width:500px){
    .profile{
      margin: 50px 0;
      min-height: 80vh;
    }
    .profilePhoto{
      margin: 75px 0;
      scale: 1.5;
    }
    .profileInfoPrimary h1{
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
    }
    .profileInfoPrimary{
      width: 280px;
      padding: 10px 10px 30px 20px;
      border-radius: 30px;
    }
}
  