/* OTP verification */

.OTP{
  min-height: 300px;
  width: min(80%,300px);
  text-align: center;
  padding: 25px;
  margin: 10vh auto 15vh;
  border-radius: 25px;
  background-color: #FF8400;
  color: #f6f1e9;
}
  
.OTPheading{
  margin-bottom: 5px;
  font-weight: 600;
}
.OTPtext{
  font-size: 12px;
  margin-top: 0px;
}

/* To remove number arrows for input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.OTPbox{
  margin: 50px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.OTPcontainer{
  background-color: #f6f1e9;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s;
}
.OTPcontainer:focus::placeholder{
  color: transparent;
}

.OTPlink{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto;
}

.OTPlinkExpiry{
  font-size: 14px;
  margin: 0px;
}
.OTPlink span{
  color: #3C2A21;
  cursor: default;
}
.OTPResend{
  opacity: 0.5;
}

.OTPbtn{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #3C2A21;
  color: #f6f1e9;
  transition: 0.2s;
  cursor: pointer;
  margin-top: 50px;
}
.OTPbtn:hover{
  background-color: #f6f1e9;
  color: #3C2A21;
  box-shadow: 2px 4px #3C2A21;
}

.NewPasswordForm{
  margin: 20px 0 0;
}

.NewPasswordInput{
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 20px 0 0;
  height: 30px;
  width: 250px;
  font-size: 14px;
  padding: 5px;
}
.NewPasswordInput:focus::placeholder{
  color: transparent;
}

.revealpwd {
  position: relative;
  top: 6px;
  fill: #aaaaaa;
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 5px;
  margin-right: 10px;
}

.NewPasswordForm span {
  position: relative;
  top: 1px;
  right: 1px;
  display: inline-block;
  background-color: #fff;
  height: 40px; 
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}