.skeletonCardWrapper{   
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    width: 370px;
    height: 60px;
    border-radius: 10px;
    border-bottom: solid 1px #D3D3D3;
    transition: all 0.2s;
    opacity: 0.5;
    padding: 8px 15px;
}
.skeletonCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.skeletonTextContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.skeletonText100{
    width: 100%;
    height: 10px;
   margin: 5px;
   border-radius: 15px;
}
.skeletonText30{
    width: 30%;
    height: 10px;
   margin: 5px;
   border-radius: 10px;

}
.skeletonText50{
    width: 50%;
    height: 10px;
   margin: 5px;
   border-radius: 10px;

}
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }


.skeletonExploreCardWrapper{   
    box-sizing: border-box;
    border-radius: 20px;
    padding: 25px 25px 25px 25px;
    box-shadow: 5px 5px 6px #aaaaaa;
    transition: all .12s;
    display: flex;
    /* align-items: center; */
    cursor: pointer;
    max-width: 500px;
    height: 200px;

}
.skeletonExploreCircle{
    height: 128px;
    width:128px;
    border-radius: 50%;
}
.skeletonExploreTextContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 15px;
    margin-left: 10px;
}
@media (max-width:500px)
{
    .skeletonCardWrapper{  
        width: 320px; 
        height: 46px;
        /* background-color: black; */
    }
    .skeletonCircle{
        width: 40px;
        height: 40px;
    }
}