/* Footer */

.footerContainer {
  color: #f6f1e9;
  background-color: #3c2a21;
  margin-top: 70px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10% 10px 10%;
  font-size: 12px;
}
.footerHeading {
  font-size: 20px;
}
.aboutWiggles {
  width: 50%;
  text-align: left;
  line-height: 15px;
  letter-spacing: 0.5px;
}
.supportLogin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.supportWiggles {
  width: 40%;
  text-align: left;
}
.supportLinks {
  width: fit-content;
  display: block;
  padding: 5px 0px;
  visibility: 10px;
  text-decoration: none;
  color: #f6f1e9;
  font-weight: 400;
  cursor: pointer;
}

.copyrightBar {
  height: 10px;
  background-color: #3c2a21;
  padding: 40px 0px 10px 0px;
  text-align: center;
  font-size: 11px;
}
.footerImg {
  height: 250px;
  background-size: cover;
}
.footerSocialLinksContainer {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 15px 0px;
}
.footerSocialLinks {
  text-decoration: none;
  all: unset;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .supportLogin {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    padding: 0px 7% 10px 7%;
  }
}

@media (max-width: 700px) {
  .footer {
    display: block;
  }
  .footerHeading {
    font-size: 17px;
    text-align: center;
  }
  .aboutWiggles {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .supportWiggles {
    margin: auto;
    width: 80%;
    padding-left: 0px;
    padding-top: 10px;
  }
  .footer {
    padding: 20px 10% 10px 10%;
  }
  .footerImg {
    height: 96px;
  }
  .copyrightBar {
    padding: 5px 0px 10px 0px;
  }
  .supportLogin {
    grid-template-columns: repeat(3, 1fr);
  }
  .supportLinks {
    margin: auto;
  }
  .footerSocialLinksContainer {
    justify-content: center;
    gap: 15px;
    margin: 15px 0px;
  }
}

@media (max-width: 480px) {
  .supportWiggles,
  .aboutWiggles {
    width: 100%;
  }
}
