/* Base Page */
.baseContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.logoImg {
  height: 50px;
  border-radius: 50%;
}
.logoHeading {
  font-family: "Shantell Sans", cursive;
  color: #ff8400;
}

@media (max-width: 550px) {
  .logoImg {
    height: 45px;
    border-radius: 50%;
  }
  .logoHeading {
    font-size: 1.2rem;
  }
}

/* Login Page */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh + 4rem);
}

.loginContainer {
  width: 55%;
  min-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 2rem;
  background-color: #ff8400;
  border-radius: 30px;
  color: #f6f1e9;
  animation: pop-up 0.5s;
}

@keyframes pop-up {
  0% {
    opacity: 50%;
    scale: 0.75;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

.loginInfo,
.catIllustration {
  width: 48%;
}

.loginInfo h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.loginInfo p {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}

.loginInfo form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pwdContainer,
.emailContainer {
  min-width: 200px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.pwdContainer {
  justify-content: space-between;
}

.loginInfo input {
  border: none;
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 10px;
  width: 85%;
  font-weight: 500;
}

.pwdContainer span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 15%;
}

svg.revealPwd {
  fill: #aaaaaa;
  cursor: pointer;
  font-size: 1.3rem;
}

.secondaryLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.secondaryLogin span {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.linksColor {
  color: black;
}

@media (max-width: 850px) {
  .loginContainer {
    width: 60%;
    min-width: 200px;
  }

  .loginInfo {
    width: 100%;
  }

  .catIllustration {
    display: none;
  }
}

@media (max-width: 550px) {
  .loginContainer {
    width: 80%;
    min-width: 250px;
  }

  .loginInfo h1 {
    font-size: 30px;
  }
}

/* Primary Sign up Page */

.registerContainer {
  min-height: calc(100vh + 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  margin: auto;
  width: 55%;
  min-width: 600px;
  background-color: #ff8400;
  border-radius: 30px;
  color: #f6f1e9;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide-out 1s;
}

@keyframes slide-out {
  0% {
    opacity: 60%;
    transform: translateX(-75px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

.registerSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  min-width: 330px;
}
.registerHeading,
p {
  margin: 0;
}

.registerSection .phoneContainer,
.registerSection .emailContainer,
.registerSection .pwdContainer {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registerSection input {
  border: none;
  font-size: 15px;
  padding: 15px 10px;
  border-radius: 10px;
  width: 100%;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btnNext {
  margin-left: 30px;
}

.illustration {
  width: 50%;
}

.termsContainer {
  display: flex;
  align-items: center;
}

.termsCheckbox {
  margin-right: 10px;
  /* width: auto !important; */
  width: 20px !important; /* Adjust the width as needed */
  height: 20px;
}

.termsContainer label {
  font-size: 14px;
  /* color: #333; */
}

@media (max-width: 750px) {
  .registerWrapper {
    width: 70%;
    min-width: 200px;
    justify-content: center;
    padding: 30px;
  }

  .registerHeading {
    font-size: 24px;
  }

  .registerWrapper p {
    font-size: 14px;
  }

  .registerSection {
    width: 100%;
    min-width: 200px;
  }

  .registerSection .phoneContainer,
  .registerSection .emailContainer,
  .registerSection .pwdContainer {
    width: 100%;
  }

  .illustration {
    display: none;
  }
}

/* secondary sign up page */

.secondaryRegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8400;
  width: 60%;
  min-width: 700px;
  box-sizing: border-box;
  padding: 40px;
  margin: auto;
  border-radius: 30px;
  animation: slide-in 1s;
}

@keyframes slide-in {
  0% {
    opacity: 60%;
    transform: translateX(75px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

.secondaryRegisterationForm {
  width: 100%;
}

.secondaryRegisterationInputs {
  display: flex;
}

.dogInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  min-width: 250px;
}

.inputTabs {
  width: 80%;
  text-align: left;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.dropdownBox {
  position: relative;
  color: black !important;
  width: 85%;
}

.dropdown {
  color: black !important;
}

.dropdownBox .dropdown input {
  color: black;
  height: 35px;
}

.dogInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: #fff;
}

/* Hide the file input */
#inputImage {
  display: none;
}

.circularContainer {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 15px auto 60px;
  background-color: #ffffff;
}

.profileIcon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  opacity: 0.7;
  color: #3c2a21;
}

.textSection {
  position: relative;
  height: min-content;
}

.dogInfoRight textarea {
  height: 52px;
  max-height: 100px;
  width: calc(100% - 20px);
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  color: #3c2a21;
  padding: 10px;
  resize: none;
  margin-bottom: 0px;
}

.dogInfoRight textarea::-webkit-scrollbar {
  display: none;
}

.secondaryBtnContainer {
  width: calc(40% + 20px);
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.btnBack,
.btnNext {
  margin: 0;
}

.textareaCount {
  position: absolute;
  font-size: 12px;
  right: -5px;
  bottom: -12px;
}

@media (max-width: 750px) {
  .secondaryRegisterContainer {
    width: 70%;
    min-width: 320px;
    padding: 30px;
    margin-top: 100px;
    height: fit-content;
  }

  .secondaryRegisterationInputs {
    display: block;
  }
  .inputTabs {
    margin: auto;
  }

  .dogInfoLeft,
  .dogInfoRight {
    width: 100%;
  }

  .dogInfoRight {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 15px;
  }

  .circularContainer {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
  }

  .circularContainer .profilePicture {
    scale: 0.67;
    transform: translate(-25%, -25%);
  }

  .textareaCount {
    right: 10px;
  }

  .dropdown {
    width: 100%;
  }

  .dropdownBox {
    margin: auto;
  }
  .secondaryBtnContainer {
    width: 80%;
    margin: 40px auto 0;
  }
}
